#banner {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400vw;
}

#banner .banner-info {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center; //	background-attachment: fixed;
  min-height: 50vh;
  width: 100%;
}

#banner .banner-info .title {
  font-size: 30px;
  margin: 120px auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#banner .banner-info .title h6 {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  align-items: center;
  padding: 8px;
}

#banner .banner-info .title .text p {
  color: rgba(255, 255, 255, 0.8);
  max-width: 920px;
  padding: 20px;
  margin: 0 auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 500px) {
  #banner .banner-info .title .text p {
    font-size: 12px;
  }
}
