.audio .embed-responsive {
  max-width: 1200vw;
  align-items: center;
  justify-content: center;
}

.audio {
  max-width: 800vh;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

#footer {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;
  text-align: center;
  width: 100%;
}

#footer .container5 .end {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
  text-align: center;
  align-items: center;
}

#footer .container5 .end h6 {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  align-items: center;
  color: white;
}

#footer .container5 .end p {
  font-size: 20px;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 7px;
  letter-spacing: 3px;
  font-weight: lighter;
}

#footer .container5 .end2 {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  align-items: center;
}

#footer .container5 .end2 h3 {
  font-size: 25px;
  margin: 60px auto;
  text-align: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#footer .audio .embed-responsive-item {
  max-width: 120%;
  max-height: 120%;
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  #footer .container5 .end p {
    font-size: 10px;
  }
  #footer .container5 .end2 h3 {
    font-size: 15px;
  }
}
