@media (min-width: 1400px) {
  #gallery {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    height: 100vh;
  }

  #gallery .row-text {
    padding: 5px;
    margin: 50px 10px 50px 5px;
    max-width: 1100px;
    height: 50px;
  }
  #gallery .row-text h5 {
    font-size: 45px;
    float: left;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    font-weight: 100;
  }
  #gallery .row-text p {
    font-size: 15px;
    float: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 7px;
    letter-spacing: 3px;
  }

  #gallery .container3 {
    margin: 20px;
    padding: 0px 20px;
    max-width: 1400px;
    height: 850px;
  }

  .row-text .text {
    font-size: 20px;
    float: left;
    width: 60%;
    margin: 40px 40px 40px 20px;
  }

  #gallery .container3 .rel {
    position: relative;
    bottom: 60px;
    right: 26px;
    width: 35%;
  }

  #gallery .container3 .rel1 {
    position: relative;
    top: 30px;
    right: 32px;
    width: 46%;
  }

  #gallery .container3 .rel2 {
    position: relative;
    bottom: 80px;
    right: 26px;
    width: 35%;
  }

  #gallery .container3 .rel3 {
    position: relative;
    bottom: 279px;
    right: 30px;
    width: 22%;
  }

  #gallery .container3 .rel4 {
    position: relative;
    bottom: 80px;
    right: 322px;
    width: 21%;
  }

  #gallery .container3 .rel5 {
    position: relative;
    bottom: 1100px;
    left: 692px;
    width: 26%;
  }

  #gallery .container3 .rel6 {
    position: relative;
    bottom: 1100px;
    left: 762px;
    width: 24%;
  }
}

@media (max-width: 1400px) and (min-width: 1100px) {
  #gallery {
    margin: 0 auto;
    background-color: white;
    padding: 5px;
  }
  #gallery .container3 {
    margin: 20px auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1000px;
    height: 60vh;
  }

  #gallery .row-text {
    width: 58%;
    padding: 5px;
    margin: 30px auto;
    max-width: 1100px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  #gallery .row-text h5 {
    font-size: 45px;
    float: left;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    font-weight: 100;
  }
  #gallery .row-text p {
    font-size: 15px;
    float: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 7px;
    letter-spacing: 3px;
  }

  #gallery .container3 .rel {
    position: relative;
    bottom: 35px;
    left: 20px;
    text-align: center;
    align-items: center;
  }

  #gallery .container3 .rel1 {
    position: relative;
    bottom: -4px;
    left: 10px;
  }

  #gallery .container3 .rel2 {
    position: relative;
    bottom: 74px;
    left: 119px;
  }

  #gallery .container3 .rel3 {
    position: relative;
    bottom: 206px;
    left: 115px;
  }

  #gallery .container3 .rel4 {
    position: relative;
    bottom: 74px;
    right: 69px;
  }

  #gallery .container3 .rel5 {
    position: relative;
    bottom: 74px;
    right: 92px;
  }
  #gallery .container3 .rel6 {
    visibility: hidden;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  #gallery {
    margin: 0 auto;
    background-color: white;
    padding: 5px;
  }
  #gallery .container3 {
    margin: 20px auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1000px;
    height: 60vh;
  }

  #gallery .row-text {
    width: 58%;
    padding: 5px;
    margin: 30px auto;
    max-width: 1100px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  #gallery .row-text h5 {
    font-size: 45px;
    float: left;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    font-weight: 100;
  }
  #gallery .row-text p {
    font-size: 15px;
    float: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 7px;
    letter-spacing: 3px;
  }

  #gallery .container3 .rel {
    position: relative;
    bottom: 35px;
    left: 20px;
    text-align: center;
    align-items: center;
  }

  #gallery .container3 .rel1 {
    position: relative;
    bottom: -4px;
    left: 10px;
  }

  #gallery .container3 .rel2 {
    position: relative;
    bottom: 74px;
    left: 119px;
  }

  #gallery .container3 .rel3 {
    position: relative;
    bottom: 206px;
    left: 115px;
  }

  #gallery .container3 .rel4 {
    position: relative;
    bottom: 74px;
    right: 69px;
  }

  #gallery .container3 .rel5 {
    position: relative;
    bottom: 74px;
    right: 92px;
  }
  #gallery .container3 .rel6 {
    visibility: hidden;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  #gallery {
    margin: 0 auto;
    background-color: white;
    padding: 5px;
  }
  #gallery .container3 {
    margin: 20px auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 800px;
    height: 60vh;
  }

  #gallery .row-text {
    width: 58%;
    padding: 5px;
    margin: 30px auto;
    max-width: 1100px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  #gallery .row-text h5 {
    font-size: 45px;
    float: left;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    font-weight: 100;
  }
  #gallery .row-text p {
    font-size: 15px;
    float: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 7px;
    letter-spacing: 3px;
  }

  #gallery .container3 .rel {
    position: relative;
    bottom: 35px;
    left: 20px;
    text-align: center;
    align-items: center;
  }

  #gallery .container3 .rel1 {
    position: relative;
    bottom: -4px;
    left: 10px;
  }

  #gallery .container3 .rel2 {
    position: relative;
    bottom: 74px;
    left: 7px;
  }

  #gallery .container3 .rel3 {
    position: relative;
    bottom: 206px;
    left: 2px;
  }

  #gallery .container3 .rel4 {
    position: relative;
    bottom: 74px;
    right: 182px;
  }

  #gallery .container3 .rel5 {
    position: relative;
    bottom: 818px;
    left: 364px;
  }
  #gallery .container3 .rel6 {
    visibility: hidden;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  #gallery {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0;
  }
  #gallery .container3 img {
    width: 460px;
    display: block;
    margin: 0px;
    height: 420px;
    padding: 20px;
    float: left;
  }

  #gallery .container3 {
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  #gallery {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0;
  }
  #gallery .row-text {
    width: 260px;
    align-items: center;
    justify-content: center;
  }
  #gallery .row-text p {
    font-size: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2px;
  }
  #gallery .row-text h5 {
    width: 260px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  #gallery .container3 {
    max-width: 350px;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0px;
  }
  #gallery .container3 img {
    width: 260px;
    display: block;
    height: auto;
    margin: 0px;
    height: 220px;
    padding: 20px;
  }
}
