* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
// img {
//   width: 40%;
//   height: 40%;
// }

body {
  //   background-color: $background-color;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font: inherit;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
blockquote {
  quotes: none;
  margin: 0;
}

button {
  padding: 0;
}

@media (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  img {
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
  }
}
