.header {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;

  /* overflow: hidden; */
}

.container .header .header--img {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  display: flex;
}

.header .header--img .container2 {
  display: block;
  width: 100%;
  height: 100vh;
}

.header .header--img .container2 .logo {
  height: 200px;
  width: 100%;
  display: flex;
}

.header .header--img .container2 .logo h3 {
  margin: 0 auto;
  font-size: 22px;
  color: white;
  margin-top: 130px;
  display: block;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.container .header .header--img .container2 .header--text {
  margin: 0 auto 0 260px;
  padding: 300px 0 110px 0;
}

.header--img .header--text h1 {
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  margin: 5px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.header--img .header--text h2 {
  font-size: 27px;
  color: lightgray;
  text-transform: uppercase;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: block;
}

.header--img .header--text p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin: 5px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 5px;
  letter-spacing: 1px;
  display: block;
}

@media (max-width: 500px) {
  .container .header .header--img .container2 .header--text {
    margin: 0 auto 0 50px;
    padding: 270px 0 100px 0;
    max-height: 800vh;
  }
  .header--img .header--text h1 {
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    margin: 5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
  }

  .header--img .header--text h2 {
    font-size: 17px;
    color: lightgray;
    text-transform: uppercase;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: block;
  }
  .header--img .header--text p {
    font-size: 10px;
    margin: 5px;
  }
  .header .header--img .container2 .logo h3 {
    font-size: 10px;
    margin-top: 60px;
  }
}
