@mixin generateRow($number-of-items, $margin) {
  width: ((100% - ($number-of-items * $margin)) / $number-of-items);
  margin-right: $margin;
  margin-bottom: $margin;
}

@mixin textOverflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin center() {
  margin: 0 auto;
  display: block;
}

@mixin horizontalGradient($startColor, $endColor) {
  background-color: $endColor;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from($startColor),
    to($endColor)
  );
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image: -moz-linear-gradient(left, $startColor, $endColor);
  background-image: -ms-linear-gradient(left, $startColor, $endColor);
  background-image: -o-linear-gradient(left, $startColor, $endColor);
  background-image: linear-gradient(left, $startColor, $endColor);
  background-repeat: repeat-x;
}
