#statistics {
  background-color: white;
  padding: 5px;
  height: 50vh;
  width: 1600px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#statistics .info {
  width: 1600px;
  margin-bottom: 60px;
}

#statistics .info .text2 {
  width: 1400px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

#statistics .info .text2 h5 {
  font-size: 45px;
  margin: 30px auto;
  max-width: 1000px;
  text-align: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 7px;
  letter-spacing: 3px;
  font-weight: lighter;
}

#statistics .info .text2 h4 {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 7px;
  letter-spacing: 3px;
  font-weight: lighter;
  justify-content: start;
  margin-right: 550px;
}

.statistics .text-statistics {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  align-items: center;
}

#statistics p {
  margin: 20px auto;
  font-weight: lighter;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 7px;
  letter-spacing: 3px;
}

#statistics #container4 {
  flex-direction: row;
  background-color: rgba(46, 49, 54, 0.04);
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: table;
  width: 85%;
  padding: 5px;
}

// TABELA ZE STATYSTYKAMI

#container4 .data {
  width: 25%;
  float: left;
}

#container4 .data h6 {
  font-size: 25px;
  color: black;
  padding: 5px;
}
#container4 .data p {
  margin: 5px;
}

@media (max-width: 1400px) and (min-width: 1100px) {
  #statistics {
    width: 65%;
  }
  #statistics .info .text2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  #statistics .info {
    width: 100%;
    margin: 0 auto;
  }
  #statistics .info .text2 h4 {
    font-size: 35px;

    margin: 0 auto;
  }
  #statistics p {
    font-size: 16px;
    width: 100%;
  }
  #statistics #container4 {
    width: 96%;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  #statistics {
    width: 65%;
  }
  #statistics .info .text2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  #statistics .info {
    width: 100%;
    margin: 0 auto;
  }
  #statistics .info .text2 h4 {
    font-size: 35px;

    margin: 0 auto;
  }
  #statistics p {
    font-size: 16px;
    width: 100%;
  }
  #statistics #container4 {
    width: 96%;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  #statistics {
    width: 65%;
  }
  #statistics .info .text2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  #statistics .info {
    width: 100%;
    margin: 0 auto;
  }
  #statistics .info .text2 h4 {
    font-size: 35px;

    margin: 0 auto;
  }
  #statistics p {
    font-size: 16px;
    width: 100%;
  }
  #statistics #container4 {
    width: 96%;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  #statistics {
    width: 75%;
  }
  #statistics .info .text2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  #statistics .info {
    width: 100%;
    margin: 0 auto;
  }
  #statistics .info .text2 h5 {
    font-size: 35px;

    margin: 10px;
  }
  #statistics .info .text2 h4 {
    font-size: 25px;

    margin: 0 auto;
  }
  #statistics p {
    font-size: 14px;
    width: 100%;
  }
  #statistics #container4 {
    width: 96%;
  }
}

@media (max-width: 500px) {
  #statistics {
    width: 85%;
    height: 97vh;
  }
  #statistics .info .text2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  #statistics .info {
    width: 100%;
    margin: 20px auto;
  }
  #statistics .info .text2 h5 {
    font-size: 35px;
    margin: 10px;
  }
  #statistics .info .text2 h4 {
    font-size: 20px;
    margin: 0 auto;
  }

  #statistics p {
    font-size: 14px;
    width: 100%;
  }
  #statistics #container4 {
    flex-direction: column;
    background-color: rgba(46, 49, 54, 0.04);
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
  }
  #container4 .data {
    width: 25%;
  }

  #container4 .data h6 {
    font-size: 20px;
    color: black;
    padding: 5px;
  }
  #container4 .data p {
    margin: 5px;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
  }
}
